---
import { getLangFromUrl } from '../i18n/utils';

interface Props {
  title: string;
  description: string;
  ogTitle: string;
  ogDescription: string;
}

const { title, description, ogTitle, ogDescription } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/asset/og-image.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white text-gray-900">
    <slot />
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
    </style>
  </body>
</html>